body {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #777777;
    background-color: #ffffff;
    float: left;
    height: auto;
    width: 700px;


}

.rb-navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;

}


.rb-navbar-default {
    background-color: rgba(153, 204, 255, 0.90);
    border-color: #e7e7e7;

}

.rb-header-link {
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
    }


.rb-header-link:hover,
.rb-header-link:focus {
        color: #5e5e5e;
        background-color: transparent;
        text-decoration: none;

    }

.rb-hLinking-container {
        padding-right: 2px;
        padding-left: 2px;
        margin-left: auto;
        float: auto;
        width: inherit;

}

.rb-hLinking-container .rb-hLink-container {
        padding-right: 4px;
        padding-left: 4px;
        float:left;
        margin-left: 7%;
}



/*    float: left;
        margin: 0;*/