<!-- addBooking.html -->
<!DOCTYPE html>
<html>

<head>
	    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="styles/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/myStyle/rumBukka-theme2.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="angular/angular.js"></script>
    <script src="angular/angular-route.js"></script>
    <script src="angular/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="script.js"></script>
    <script src="Controllers/addBookingController.js"></script>
    <script src="Services/UserData.js"></script>
    <script src="angular/angular-resource.min.js"></script>
</head>

<form name ='addPersonForm'>
<div ng-controller="addBookingController">
<h1>Add a Booking for {{currentProfile.FirstName}}</h1>
        <table>
            
<!--<td><label>Student ID: </label></td>
                <td>
                    <select ng-model="currentProfile" ng-options="entry.VUWStudentId for entry in Profiles" ng-click="select()"></select></td>
            </tr>-->
            <tr>
                <td style="width: 123px;">
                    <label>Start Time </label></td>
                <td>
            <div>
            <p>
                <div class="col-md-6">
                    <p class="input-group">
                      <input type="text" id="DP" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
         </p>
            </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>End Time </label></td>
                <td>
                    <p>
                        <div class="col-md-6">
                            <p class="input-group">
                              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="enOpened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                        </div>
                 </p>


                </td>
            </tr>

            <tr>
               <TD><label>Booking Period</label></td><td>{{duration}} day(s)</td> 
            </tr>
            </table>  
           </div></form>
            <!--<tr>
                <td><label>Room: </label></td>
                <td>
                    <select ng-model="myRoom" ng-options="entry.RoomName for entry in Rooms"></select></td>
            </tr>-->
<div>
    <table>
      <tr>
	  <td class="created" >
	      <b>Room</b>
	  </td>
	  <td class="ip">
	      <b>Organisation</b>
	  </td>
	  <td class="status">
	      <b>Capacity</b>
	  </td>
      </tr>
    
      <tr class="{{getStyle(entry)}} " ng-repeat="entry in Rooms | orderBy:'Organisation.OrganisationName'" ng-click="setSelected(entry)" ng-class="{selected : entry.Room_Id === selectedRoom.Room_Id}">
   
        <td><i class="fa fa-square" ></i></td>

        <td  class="created">
           {{entry.RoomName}}
        </td> 
        <td class="ip">
            {{entry.Organisation.OrganisationName}}
        </td>
        <td class="status">
            {{entry.CurrentBookingCount}}/{{entry.Capacity}}
        </td>
      </tr>
    </table>
</div>
<div>
 <table>  
            <tr>
          <td>  <button type="submit" class="btn"
                    ng-click="submit()"
                    >Submit
            </button></td>
           <td>  <button type="submit" class="btn" ng-click="cancel()">Cancel</button></td>
            </tr>
        
         </table>  
         </div>



</html>