<!-- index.html -->
<!DOCTYPE html>
<html ng-app="rumBukkaApp">
<meta charset="utf-8">
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="styles/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="styles/bootstrap/dist/css/RBS-theme.css" />
    <link rel="stylesheet" href="styles/bootstrap/dist/css/RBS-icons.css" />

    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="angular/angular.js"></script>
    <script src="angular/angular-route.js"></script>
    <script src="script.js"></script>
    <script src="addPersonController.js"></script>



</head>

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<form name ='addPersonForm'>
<body ng-controller="addPersonController">

<h3>Add new room user</h3>
<table>
    <tr>
        <td>
            <label>First Name</label>
        </td>
                <td>
            <input name = "fName" ng-model="newUser.FirstName" ng-trim="false" type="text" />
        </td>
        <td>
            <label>Surname</label>
        </td>
                <td>
            <input name = "sName" ng-model="newUser.LastName" ng-trim="false" type="text" />
        </td>
    </tr>

    <tr>
        <td>
            <label>Student ID</label>
        </td>
        <td>
            <input name = "SID" ng-model="newUser.VUWStudentId" ng-trim="false" type="text" />
        </td>

    </tr>
    <tr>
        <td>
            <label>Start Date</label>
        </td>
        <td>
            <label>End Date</label>
        </td>
    </tr>
    <tr>
        <td>
            <label>Organisation</label>
        <td>
            <div>
            <select id="departmentSelection"
                    ng-model="addPerson.Organistion_Organisation_Id"
                    required="true" 
                    ng-options="depart for depart in departs">

            </select>
            </div>

        </td>
    </td>

    </tr>
    <tr>
        <td>
            <label>Type</label>
        </td>
        <td>
            <input name = "Type" ng-model="newUser.Type" ng-trim="false" type="text" />
        </td>

    </tr>
    <tr>
        <td>
            <label>Phone</label>
        </td>
        <td>
            <input name = "Phone" ng-model="newUser.Phone_Phone_Id" ng-trim="false" type="text" />
        </td>

    </tr>
</table>
</body>
</form>
</html>
