<!-- index.html -->
<!DOCTYPE html>
<html ng-app="rumBukkaApp">
<meta charset="utf-8"/>
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="styles/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="styles/myStyle/rumBukka-theme2.css" />


    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="angular/angular.js"></script>
    <script src="angular/angular-route.js"></script>
    <script src="script.js"></script>
    <script src="Controllers/addPersonController.js"></script>



</head>
<body>
<!-- MAIN CONTENT AND INJECTED VIEWS -->
<form name ='addPersonForm'>
<div ng-controller="addPersonController">

<h3>Add new room user</h3>
<table>
    <tr>
        <td>
            <label>First Name</label>
        </td>
                <td>
            <input name = "fName" ng-model="user.FirstName" ng-trim="false" type="text" required />
        </td>
        <td><button class="fa fa-refresh" ng-click="reverse()"></button></td>
        <td>
            <label>Surname</label>
        </td>
                <td>
            <input name = "sName" ng-model="user.LastName" ng-trim="false" type="text" required/>
        </td>
    </tr>

<!--     <tr>
        <td>
            <label>Student ID</label>
        </td>
        <td>
            <input name = "SID" ng-model="user.VUWStudentId" ng-trim="false" type="text" />
        </td>

    </tr> -->

    <tr><td><label>Organisation</label></td>
    <td>
    <select ng-model="user.Organisation.Organisation_Id" ng-options="entry.Organisation_Id as entry.OrganisationName for entry in orgs" required> </select></td></tr>
    
   
    <tr>
        <td>
        
            <label>Type</label>
        </td>
        <td>
            <select name = "Type" ng-model="user.Type" ng-trim="false" type="text" ng-options="type for type in userTypes" />
        </td>

    </tr>
    <tr>
        <td>
            <label>Phone</label>
        </td>
        <td>
            <input name = "Phone" ng-model="user.Phone_Phone_Id" ng-trim="false" type="text" />
        </td>

    </tr>
    <tr>
      <td>  <button type="submit" class="btn btn-success"
                ng-disabled="user.$invalid"
                ng-click="submit()"
                >Submit
        </button>
        <button type="cancel" class="btn btn-danger" ng-click="cancel()">Cancel</button></td>
    </tr>


</table>

<table>
    <tr ng-repeat="booking in bookings">
         <td data-title="'Room Name'">{{booking.Room.RoomName}}</td>
         <td data-title="'Start Date'">{{booking.StartDate}}</td>
         <td data-title="'End Date'">{{booking.EndDate}}</td>
         <td><button ng-click="redirect('select', user)">Delete</button></td>
         <td><button ng-click="redirect('edit', user)">Edit</button></td>
    </tr>
</table>

</div>
</form>
</body>
</html>
