<!-- addBooking.html -->
<!DOCTYPE html>
<html>

<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="styles/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="styles/myStyle/rumBukka-theme2.css" />
    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="angular/angular.js"></script>
    <script src="angular/angular-route.js"></script>
    <script src="script.js"></script>
    <script src="Services/UserData.js"></script>
    <script src="Controllers/modifyBookingController.js"></script>
</head>

    <div ng-controller="modifyBookingController">

        <table>
            <tr>
                <td class="rbs-td">
                    <h2>Modify Booking</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>User Name</h4>
                </td>
                <td>
                    <h4>Organisation</h4>
                </td>
                <td>
                    <h4>Phone</h4>
                </td>
                <td>
                    <h4>Current Room</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>
                        {{booking.User.FirstName}} {{booking.User.LastName}}
                    </h5>
                </td>
                <td>
                    <h5>{{booking.User.Organisation.OrganisationName}}</h5>
                </td>
                <td>
                    <h5>{{booking.User.Phone.}}</h5>
                </td>
                <td>
                    <h5>{{booking.Room.RoomName}}</h5>
                </td>
            </tr>

            <!--             <tr>
            <td>
                <label>Search Profile ID</label>
            </td>
            <td>
                <input ng-model="srcPID" ng-trim="true" type = "text"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Profile:</label>
            </td>
            <td>
                <select ng-model="currentProfile" ng-options="entry.FirstName for entry in Profiles" ></select>
            </td>
        </tr>
        <tr>
            -->
          <!--   <td>
                <label>Bookings for {{currentProfile.FirstName}}:</label>
            </td>
            <td>
                <select class="btn btn-primary dropdown-toggle" ng-model="bookingUpdate" ng-options="entry.Room.RoomName +' '+entry.StartDate for entry in Bookings" ></select>
            </td> -->
        </tr>
        <tr>
            <td>
                <label>Start Time</label>
            </td>
            <td>
                    <input type="text" id="DP" class="form-control" datepicker-popup="{{format}}" ng-model="booking.StartDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" style="width: 200px; float:left" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>

            </td>

        </tr>
        <tr>
            <td>
                <label>End Time</label>
            </td>
            <td>
                           <input type="text" id="DP" class="form-control" datepicker-popup="{{format}}" ng-model="booking.EndDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" style="width: 200px; float:left" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>

            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success"
                    ng-click="update(booking)"
                    >Submit</button>
                <button type="submit" class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </td>
  <!--           <td>
                <button type="submit" class="btn btn-warning" ng-click="delete(bookingUpdate.Booking_Id)" >Delete</button>
            </td> -->
        </tr>

        <!--tr>
        <td>Delete Booking</td>
        <td>
            <input type="integer" ng-model="delinput" value = {{bookingUpdate.Booking_Id}}/>
        </td-->

    </tr>

</table>

</div>
</html>