<!-- addBooking.html -->
<!DOCTYPE html>
<html>

<head>
	    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="styles/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="styles/myStyle/rumBukka-theme2.css" />
    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="angular/angular.js"></script>
    <script src="angular/angular-route.js"></script>
    <script src="script.js"></script>
    <script src="Services/UserData.js"></script>
    <script src="Controllers/modifyBookingController.js"></script>
</head>

<div ng-controller="modifyBookingController">
        <table>
            <tr>
            <td class="rbs-td">
            <h2>Modify Booking</h2>
            </td>
            </tr>
            <tr>
                <td>
                    <label>Search Profile ID </label></td>
                <td><input ng-model="srcPID" ng-trim="true" type = "text"/></td>
            </tr>
            <tr>
                <td><label>Profile: </label></td>
                <td>
                    <select ng-model="currentProfile" ng-options="entry.FirstName for entry in Profiles" ></select></td>
            </tr>
            <tr>
                <td>
                    <label>Bookings for {{currentProfile.FirstName}}: </label></td>
                <td>
                    <select ng-model="currentBooking" ng-options="entry.Room.RoomName for entry in Bookings" ></select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Start Time </label></td>
                
            </tr>
            <tr>
                <td>
                    <label>End Time </label></td>
            </tr>
            <tr>
          <td>  <button type="submit" class="btn"
                    ng-click="submit()"
                    >Submit
            </button>
            <button type="submit" class="btn">Cancel</button></td>
            </tr>
        </table>  

</div>
</html>