<!-- index.html -->
<!DOCTYPE html>
<html ng-app="rumBukkaApp">
    <meta charset="utf-8">
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="styles/bootstrap/dist/css/bootstrap.min.css" />
    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="angular/angular.js"></script>
    <script src="angular/angular-route.js"></script>
    <script src="angular/ng-table.js"></script>
    <script src="script.js"></script>
    <script src="Controllers/personController.js"></script>
    <script src="angular/angular-resource.min.js"></script>
</head>
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <form name ='PersonForm'>
        <div ng-controller="personController">
            <h3>Person</h3>
            <table>
                <tr>
                    <td>
                        <label>User Name:</label>
                    </td>
                    <td>
                        <input ng-model="input" type="text" ></input>
                </td>
                <td>
                    <button class="btn btn-success" ng-click="redirect('add')">Add User</button>
                </td>
            </tr>
        </table>
        <table ng-table class="table">
            <tr ng-repeat="user in users | filter:input" class="rb-user-select" ng-click="redirect('profile', user)">
                <td data-title="'Name'">{{user.FirstName}}</td>
                <td data-title="'Surname'">{{user.LastName}}</td>
                <td>
<!--                     <button class="btn btn-default" ng-click="redirect('addBooking', user)">Add Booking</button>
                    <button class="btn btn-default" ng-click="redirect('modify', user)">Modify Booking</button> -->
                </td>
                <!-- <td>
                <button ng-click="redirect('select', user)">Modify Booking</button>
            </td>
            -->
        </tr>
    </table>
</div>
</form>
</html>
