<!-- index.html -->
<!DOCTYPE html>
<html ng-app="rumBukkaApp">
    <meta charset="utf-8"/>
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="styles/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="styles/myStyle/rumBukka-theme2.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="angular/angular.js"></script>
    <script src="angular/angular-route.js"></script>
    <script src="script.js"></script>
    <script src="Controllers/userProfileController.js"></script>

</head>
<body>
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <form name ='userProfileForm'>
        <div ng-controller="userProfileController">

            <table>
                <tr>
                    <td>
                        <h3> <b>User Profile</b>
                        </h3>


                </tr>

                <tr>
                    <td>
                        <label>First Name</label>
                    </td>
                    <td>
                        <h3>{{currentProfile.FirstName}}</h3>
                    </td>
                </tr><tr>
                    <td>
                        <label>Surname</label>
                    </td>
                    <td>
                        <h3>{{currentProfile.LastName}}</h3>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>VUW ID</label>
                    </td>
                    <td>
                        <h3>{{currentProfile.VUWId}}</h3>
                    </td>

                </tr>

                <tr>
                    <td>
                        <label>Organisation</label>
                    </td>
                    <td>
                        <h3>{{currentProfile.Organisation.OrganisationName}}</h3>
                    </td>
                </tr>

                <tr>
                    <td>

                        <label>Type</label>
                    </td>
                    <td>
                        <h3>{{userTypes[currentProfile.Type]}}</h3>
                    </td>

                </tr>
                <!--                 <tr>
                <td>
                    <label>Phone</label>
                </td>
                <td>
                    <h3>{{currentProfile.Phone}}</h3>
                </td>

            </tr>
            -->
        </table>

        <button class="btn btn-success" ng-click="editUser()">Edit Profile</button>
                <button class="btn btn-warning" ng-click="goBack()">Return to User Selection</button>
        <h3> <b>Existing Bookings</b>
        </h3>
        <table>
            <tr>
                <td>
                    <b>Room</b>
                </td>
                <td>
                    <b>Start Date</b>
                </td>
                <td>
                    <b>End Date</b>
                </td>
            </tr>
            <tr style="float:inherit" ng-repeat="booking in bookings" ng-click="selectBooking(booking)">
                <td>{{booking.Room.RoomName}}</td>
                <td>{{booking.StartDate}}</td>
                <td>{{booking.EndDate}} _ {{booking.User.FirstName}}</td>
                <td>
                    <button class="btn btn-default" ng-click="modifyBooking(booking)">Modify Booking</button>
                    <button class="btn btn-warning" ng-click="deleteBooking(booking)">Delete</button>
                </td>
            </tr>
        </table>

        <button class="btn btn-success" ng-click="addBooking()">Add Booking</button>

        <!--                 <tr>
        <td>
            <button type="submit" class="btn btn-success"
                ng-disabled="user.$invalid"
                ng-click="submit()"
                >Submit</button>
            <button type="cancel" class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </td>
    </tr>

</table>
-->
<!--             <table>
<tr ng-repeat="booking in bookings">
    <td data-title="'Room Name'">{{booking.Room.RoomName}}</td>
    <td data-title="'Start Date'">{{booking.StartDate}}</td>
    <td data-title="'End Date'">{{booking.EndDate}}</td>
    <td>
        <button ng-click="redirect('select', user)">Delete</button>
    </td>
    <td>
        <button ng-click="redirect('edit', user)">Edit</button>
    </td>
</tr>
</table>
-->
</div>
</form>
</body>
</html>